
Week0/bmi/.vscode/settings.json
Week0/bmi/Summary.txt
Week1/.vscode/settings.json
.DS_Store
.gitignore
Week1/iris/iris.data
Week1/iris/iris copy.data
Week1/iris/.vscode/settings.json
Week1/iris/iris_12.data
Week1/iris/iris_norm_12.data
week3/.vscode/settings.json
week3/ex1/wine.data
week3/ex1/wine.names
week3/ex1/.vscode/settings.json
